<section>
    <div>
        <form>
            <form>
            <h1>Create your marriage here!</h1>
            <label>Event's Name:</label>
            <input type="text" name="eventName" ng-model="event.eventName" required></form><br>
            <label>Invitation text</label>
            <input type="text" name="inviteText" ng-model="event.inviteText" required><br>
            <button ng-click="eventButton()">Submit</button>
        </form>
        <br><br>
        <a href="#/invite">Invite your friends!</a>
    </div>
</section>